.type-switcher-container{
    padding: 20px;
    width: 400px;
   display: flex;
   flex-direction: column;
    height: 100vh;
  }
  .type-switcher{
    width: 100px;
    height: 40px;
    
  }
  .type-dropdown{
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  #label1{
   margin-top: 10px;
    width: 200px;
    height: 40px;
  }
  
