
.page-container{
  height: 100vh;
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: auto;
}
.header-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  width: 200px;
  color: black;
}
.products-container{
  height: fit-content;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  width: 96vw;
  flex-grow: 1;
  
  
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.link{
  color: black;
  
}
.link:hover{
  text-decoration: none;
  color: black;
}
.link:link{
  text-decoration: none;
}